.about-container {
	margin: 30px;

	.about-wrapper {
		@include flexbox(center,center);
		
		> div { width: 50%; }
		
		img { max-width: 100%; }
		
		.content {
			position: relative;
			.wrapper {
				position: relative;
				@include calc(width,"100% - 60px");
				margin: 0 auto;
				h2 {
					padding-left: 2px;
					margin: 0 0 6px;
				}
				p {
					text-align: justify;
					margin: 0;
					font-size: 15px;
					line-height: 1.5em;
				}
			}
		}
	}
/*
	.about-wrapper:nth-child(odd){
		.wrapper {
			@include calc(width,"100% - 30px");
			margin-left: 30px;
		}
	}
*/
	.about-wrapper:nth-child(even){
		background-color: $black;
		.wrapper {
			color: $white;
		}
	}
	
	.about-wrapper.testimonials {
		.wrapper {
// 			text-align: center;
			.testimonials-wrapper {
				position: relative;
			}
			p{
				text-indent: -5px;
			}
			figure {
				margin: 0;
				opacity: 0;
				@include transition(0.8s, all, ease-in-out);
				z-index: 9;
				@include max-content(height);
			}
			figure:not(:first-of-type){
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
			figure.active {
				opacity: 1;
				z-index: 9999;
			}
			blockquote {
				margin: 0;
			}
			figcaption {
				text-align: right;
			    font-style: italic;
			    margin-top: 15px;
			    font-size: 14px;
			}
		}
	}
}
.tabs {
	@include flexbox(center,space-between);
	@include max-content(width);
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	.tab {
		width: 15px;
		height: 1px;
		background-color: $white;
		opacity: 0.25	;
		@include transition(0.3s,all,ease-in-out);
		cursor: pointer;
		margin: 0 7px;
	}
	.tab.active, .tab:hover {
		opacity: 1;
	}
}