* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
body.frozen {
	overflow: hidden;
}
body:not(.home){
	.menu-container {
		padding-top: 52px;
	}
}
body {
	background-color: $black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $header_font;
	text-transform: uppercase;
}
h2, h1.default {
	letter-spacing: 8px;
	font-size: 40px;
	font-weight: 400;
	padding-left: 8px;
}
p, div, span, input, textarea, button {
	font-family: $body_font;
}
textarea {
	resize: none;
	border: none;
}
br {
	display: none;
}
.site-content {
	@include ease(600ms);
	display: inline-block;
	width: 100%;
	background-color: #fff;
	z-index: 9;
	position: relative;
	@include calc(min-height, "100vh - 104px");
}
body.home {
	.site-content {
		background-color: $black;
	}
}
/*
.main-content-wrapper.open {
	@include translate(-600px,0,0);
}
*/
// Hide admin bar!
#wpadminbar {
	display: none;
}
html[lang="en-US"] {
	margin-top: 0 !important;
}
.main-btn, .comment-reply-link {
	font-size: 9px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 0px 15px 0px 16px;
	color: $white;
	background-color: $black;
	text-decoration: none;
}
.comment-reply-link {
	padding: 5px 15px 5px 16px;
}
.comment-author a {
	color: $black;
	text-decoration: none;
	
}
.single-page-container .single-wrapper img {
	margin: 0 !important;
}
.comment-metadata a {
	    color: $dividercolor;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.comment-metadata {
	margin-top: -7px;
}
.single-page-container .single-wrapper .comments-area .comment-body .comment-content {
	width: 100% !important;
}
a.back {
	color: $black;
	text-decoration: none;
}
.screen-reader-text {
	display: none;
}
.nav-links {
	@include flexbox(center,space-between);
	flex-direction: row-reverse;
}