* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
body.frozen {
	overflow: hidden;
}
body:not(.home){
	.menu-container {
		padding-top: 52px;
	}
}
body {
	background-color: $black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $header_font;
	text-transform: uppercase;
}
h2 {
	letter-spacing: 8px;
	font-size: 40px;
	font-weight: 400;
	padding-left: 8px;
}
p, div, span, input, textarea, button {
	font-family: $body_font;
}
textarea {
	resize: none;
	border: none;
}
br {
	display: none;
}
.site-content {
	@include ease(600ms);
	display: inline-block;
	width: 100%;
	background-color: #fff;
	z-index: 9;
	position: relative;
	@include calc(min-height, "100vh - 104px");
}
body.home {
	.site-content {
		background-color: $black;
	}
}
/*
.main-content-wrapper.open {
	@include translate(-600px,0,0);
}
*/
// Hide admin bar!
#wpadminbar {
	display: none;
}
html[lang="en-US"] {
	margin-top: 0 !important;
}