header {
	.nav-bar.nav-white { // handle colors
		.site-logo, .menu-trigger {
			border: 2.5px solid $white;
			
			.letter {
				color: $white;
			}
			.mline {
				background-color: $white;
			}
		}
		.menu-trigger.open {
			.line-2,.line-4 {
				outline-color: $white;

			}
		}
	}
	.nav-bar.nav-white.bury {
		z-index: -1;
	}
	.nav-bar.nav-black {
		.menu-trigger.open {
			.line-2,.line-4 {
				outline-color: $white;
				background-color: $white;

			}
		}
	}
	.nav-bar {
		@include calc(width,"100% - 60px");
		position: fixed;
		top: 0;
		left: 0;
		padding: 30px;
		background-color: transparent;
		@include flexbox(center,space-between);
		z-index: 9999999999;
		clip: rect(76px,auto,auto,0);		
		a {
			text-decoration: none;
		}
	}
	.site-logo {
		border: 2.5px solid $white;
		height: 40px;
		width: 40px;
		position: relative;
		@include flexbox(center,center);
		
		.letter {
			font-family: $header_font;
			text-transform: uppercase;
			color: $white;
			font-size: 20px;

		}
	}
	.menu-trigger {
		border: 2.5px solid $white;
		height: 40px;
		width: 40px;
		@include flexbox(center,center);
		overflow: hidden;
		cursor: pointer;
		position: relative;
		
		.letter {
			font-family: $header_font;
			text-transform: uppercase;
			color: $white;
			font-size: 20px;
			@include easeout(600ms);
		}
		.lines-container {
			@include flexbox(center,space-between);
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			width: 40%;
			height: 15px;
			overflow: hidden;
			.mline {
				height: 1px;
				width: 100%;
				background-color: $white;
				@include easeout(600ms);
				@include translate(200%,0,0);
				outline: 1px solid transparent;


			}
			.line-1 {
				transition-delay: 0ms;
			}
			.line-2 {
				transition-delay: 60ms;
			}
			.line-3 {
				transition-delay: 100ms;
			}			
			.line-4 {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				margin: auto;
				transition-delay: 60ms;

			}
		}
		
	}
	.menu-trigger.prep {
		.letter {
			@include translate(-160%,0,0);
		}
		.mline {
			@include translate(0,0,0);
		}
	}
	.menu-trigger.open {
		.menu-lines {
			.lines-container {
				.line-1 {
					@include translate(105%,0,0);
				}
				.line-3 {
					@include translate(-105%,0,0);
				}
				.line-2 {
					@include rotate(45deg);
		
				}
				.line-4 {
					@include rotate(-225deg);
				}
			}
		}
		
		.letter {
			@include translate(-170%,0,0);
		}
	}
	.nav-bar.nav-black { // handle colors
		.site-logo, .menu-trigger {
			border: 2.5px solid $black;
			
			.letter {
				color: $black;
			}
			.mline {
				background-color: $black;
			}
		}
	}
	
	.menu-container {
		.close-menu {
			position: absolute !important;
			top: 30px !important;
			right: 30px !important;
			border: none;
			display: none;
			color: $white;
		}
		.close-menu.showing {
			display: block;
		}
	}
}
header.static-nav {
	position: relative;
	z-index: 9;
	.nav-bar {
		position: relative;
		background-color: $black;
	}
	.nav-bar.nav-black {
		display: none;
		
	}
}
	
.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    @include max-content(width);
    margin: auto;
    z-index: 9;
    background-color: $black;
    height: 100%;
    @include flexbox(center,center);
    padding: 0 75px;
//     @include translate(00%,0,0);
    @include ease(600ms);
    ul {
	    padding: 0;
	    margin: 0;
	    @include flexbox(flex-start,space-between);
	    list-style: none;
	    flex-direction: column;
	    
	    li {
		    margin: 10px 0;
		    @include translate(40px,0,0);
		    @include easeout(1000ms);
		    a {
			    text-transform: uppercase;
			    text-decoration: none;
			    color: $white;
			    font-weight: 600;
			    letter-spacing: 2px;
			    font-size: 22px;
			    @include easeout(1000ms);
			    		    opacity: 0;

		    }
		    a:hover {
			    text-decoration: underline;
		    }
	    }
	    
	    @for $i from 1 through 20 {
		    li:nth-child(#{$i}){
			    transition-delay: ($i - 1)* ( (1 - 0.075*$i) * 80ms);
		    }
	    }
	    
    }
}
.menu-container.visible {
// 	@include translate(0,0,0);
	li {
		@include translate(0,0,0);	
		a{opacity: 1;}
	}
}
.menu-scope {
	width: 100%;
    height: 55px;
    position: fixed;
    background-color: transparent;
    top: 24px;
    left: 0;
    z-index: -1;
    visibility: hidden;
}

// TEMP MENU - DELETE THIS 
body.home {
	.nav-bar.nav-white { // handle colors
		clip: rect(0px,auto,auto,0px);		
		
		.site-logo, .menu-trigger {
			border: none;
			@include easeout(600ms);
			
			.letter {
				color: $white;
				text-shadow: -3px 0 $black;
			}
		}
		.site-logo {
			@include translate(-155%,0,0);
		}
		.menu-trigger {
			@include translate(155%,0,0);
		}
	}
	.nav-bar.showing {
		.site-logo, .menu-trigger {
			@include translate(0,0,0);
		}
	}
}