// SCROLLER HINT
.scroll-hint-container {
		position: fixed;
		bottom: 25px;
		left: 0;
		right: 0;
		margin: auto;
		clip: rect(0,auto,10px,0);
		z-index: 9;

		.wrapper {
			@include flexbox(center,space-between);
			@include calc(width,"100% - 60px");
			margin: 0 auto;
		}
		p {
			text-transform: uppercase;
			font-family: $body_font;
			font-size: 10px;
			font-weight: 800;
			letter-spacing: 6px;
			opacity: 0.8;
			padding-left: 4px;
			margin: 0;
			cursor: pointer;
			color: $tan;
		}
		p.menu-trigger:hover {
			opacity: 1;
		}
		p:not(.menu-trigger){
			opacity: 0.5;
		}
	}
	
section:not(.home-header){
	position: relative;
	z-index: 99;
}
// HEADER
.home-header {
	padding: 60px 0 110vh;
	text-align: center;
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	position: relative;
	
	h1, p {
		color: $tan;
	}
	h1 {
		font-size: 88px;
		font-weight: 300;
		@include center-spacing(2px);
		margin-bottom: 0;
	}
	p {
		font-size: 22px;
		@include center-spacing(14px);
		margin-top: -10px;
		font-family: $header_font;
	}
	
	.chev-container {
		position: absolute;
		top: 0;
		right: 15px;
		bottom: 0;
		height: 100vh;
		margin-top: 30px;
		@include flexbox(center,center);
	}
	.chev-wrapper {
		cursor: pointer;
		height: 20px;
		width: 20px;
		@include flexbox(center,center);
		flex-direction: column;
		
		.chev {
			height: 10px;
			width: 3px;
			border-radius: 10px;
			background-color: $tan;
			@include ease(400ms);
		}
		.chev-1 {
			margin-bottom: -2px;
		}
		.chev-2 {
			margin-top: -2px;
		}
	}
	.chev-wrapper:hover {
		.chev-1 {
			@include rotate(45deg);
		}
		.chev-2 {
			@include rotate(-45deg);
		}
	}
	.chev-wrapper.open {
		.chev-1 {
			@include rotate(-45deg);
		}
		.chev-2 {
			@include rotate(45deg);
		}
	}
}


// ABOUT

.about {
	background-color: $black;
	color: $white;
	text-align: center;
	padding: 125px 0;
	h2 {
		margin-top: 0;
	}
	p {
		font-family: $body_font;
		font-weight: 600;
		font-size: 13px;
		letter-spacing: 4px;
		padding-left: 4px;
		@include calc(width,"100% - 60px");
		max-width: 900px;
		margin: 25px auto 0 ;
		line-height: 2em;
		text-align: justify;
		text-transform: uppercase;
	}
}

// SERVICES MODULE

.service {
	padding: 0;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
	
	h2 {
		margin-top: 0
	}
	.clip-text {
		  /* if we can clip, do it */
	  -webkit-text-fill-color: transparent;
	  -webkit-background-clip: text;
	
	  /* what will show through the text
	      ~ or ~
	     what will be the background of that element */
	
	  background-size: cover;
	  background-position: center center;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	  /* fallback text color
	      ~ or ~
	     the actual color of text, so it better work on the background */
	  color: white;
	  
// 	  invert colors for the text to differ from bg image (push contrast harder?)
	  filter: invert(100%);
	  -webkit-filter: invert(100%);
	}
	
	.service-wrapper {
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: max-content;
		height: -webkit-max-content;
	}
	div.service-content {
		font-family: $body_font;
		font-weight: 500;
		font-size: 13px;
		letter-spacing: 4px;
		width: 95%;
		max-width: 700px;
		margin: 25px auto 0 ;
		line-height: 2em;

		br {
			display: block;
		}
	}
}
.service.process {
	padding: 200px 0;
	height: auto;
	.service-wrapper {
		position: relative;
	}
}
.service.branding {
	background-attachment: scroll;
	background-position: center bottom;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	position: relative;
	height: 130vh;
	padding: 0;
	.service-wrapper {
		text-align: left;
		position: absolute;
		bottom: 150px;
		right: 120px;
		top: auto;
		left: auto;
	}
	.clip-text {
		max-width: 500px;
	}	
	h2 {
		margin-bottom: 0;
		padding-left: 12px;
	}
	.service-content {
		margin-top: -5px;
		padding-left: 3px;
		text-align: justify;
		
	}
}

.service:nth-child(even) {
	background-color: $black;
	h2,	.service-content {
		color: $white;
	}
}
.service:nth-child(odd){
	background-color: $white;
	h2,	.service-content {
		color: $black;
	}	
}
.service:last-child {
	background-image: none !important; 
}


