@media only screen and (max-width: 768px) {
	.service, .service .clip-text {
		background-attachment: scroll;
	}
	.service-wrapper {
		top: inherit !important;
	}
	.service .clip-text {
		-webkit-text-fill-color: $black;
	    -webkit-background-clip: inherit;
		background: $white;
		background-image: none !important;
	    background-position: top;
	    background-attachment: fixed;
	    background-repeat: no-repeat;
	    color: $black;
	    filter: invert(0%);
	    -webkit-filter: invert(0%);
	    margin: 0 auto !important;
	    padding: 30px 0 10px;
	    p {
		    margin: -1px auto;
	    }
	}
	.service .clip-text.service-content {
		padding: 10px 0 40px;
	}
	
	.service.videography .clip-text {
		-webkit-text-fill-color: $white;
		background: $black;
	    color: $white;
	}
	.service.branding {
		height: 100vh;

		.clip-text {
			background: transparent;
		}
		.service-wrapper {
			right: 35px;
		}
	}
	.service.process {
		.service-wrapper {
			top: 0 !important;
		}
	}
	.home-contact {
		padding: 0;
		height: 100vh;
		@include flexbox(center,center);
		.wrapper {
			
		}
	}
}
@media (max-width: 768px){
	// Header
	.home-header {
		padding: 0;
		height: 100vh;
		p {
			font-size: 17px;
			letter-spacing: 10px;
			padding-left: 10px;
		}
		h1 {
			font-size: 65px;
			margin: 0;
			padding-top: 75px;
		}
	}
	
	// About
	.about {
		height: 100vh;
		@include flexbox(center,center);
		padding: 0;
		
		h2 {
			font-size: 42px;
			text-align: left;
			padding-left: 0;
			margin-left: 30px;
		}
	}
	
	// Contact
	.home-contact {
		form {
			 p {
				 width: 72%;
			 }
		}
	}
}
@media (max-width: 420px){
	// General
	h2 {
		font-size: 25px;
		letter-spacing: 5px;
		padding-left: 5px !important;
	}
	
	//Header
	.home-header {
		h1 {
			font-size: 56px;
			line-height: 49px;
			text-align: left;
			margin-left: 30px;
		}
		p {
			font-size: 15px;
			letter-spacing: 6px;
			padding-left: 6px;
			margin-top: 3px;
			text-align: left;
			margin-left: 30px;
		}
	}
	
	// Services 
	
	.service {
		div.service-content {
			font-size: 9px;
			letter-spacing: 2px;
			padding-left: 2px;
		}
	}
	
	// About
	.about {
		h2 {
			
			width: 60%;

		}
		p {
			font-size: 11px;
			letter-spacing: 3px;
			padding-left: 3px;
		}
	}
	
	//Contact
	.home-contact {
		form {
			p {
				width: 95%;
			}
		}
	}
}
@media (max-width: 375px){
	.home-header {
		h1 {
			font-size: 48px;
			line-height: 39px;
			margin-left: 34px;
		}
		p {
			font-size: 12px;
			margin-left: 34px;
		}
	}
}